<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.possys.food_service.Food_Mapper">
	<!-- 식자재 품목 입력 -->
	<insert id="insertfood" parameterType="kr.or.possys.food_service.Food">
		insert into food_manage(
		food_id
		,food_name
		,food_size
		,food_unit
		,food_shelflife
		,staff_id
		,food_date)
		select
		concat('FN',(select lpad(count(*)+1,4,'0') from food_manage))
		,#{food_name}
		,#{food_size}
		,#{food_unit}
		,#{food_shelflife}
		,'staff'
		,sysdate()
	</insert>
	<!-- 식자제 품목 카운트 -->
	<select id="getfoodcount" resultType="int">
		SELECT COUNT(*) FROM food_manage
	</select>
	<!-- 식자제 품목 목록 -->
	<select id="foodlist" parameterType="java.util.Map" resultType="kr.or.possys.food_service.Food">
		select food_id
			,food_name
			,food_size
			,food_unit
			,food_shelflife
			,staff_id
			,food_date
		from food_manage
		order by food_id desc
		limit #{beginRow}, #{pageRow}
	</select>
</mapper>
